<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>Ingrese sus datos</h1>
        <form>
            <% if (emptyData) { %>
                <p style="color:red;">Por favor ingrese sus datos.</p>
            <% } %>
            <label for="uName">User Name:</label><br>
            <input type="text" id="uName" name="uName"><br>
            <br>
            <label for="uPassword">User Password:</label><br>
            <input type="password" id="uPassword" name="uPassword"><br>
            <br>

            <div>
                <button type="submit" class="Log">Log in</button>
                <button type="button" class="register" onclick="window.location.href= 'http://localhost:3000/signUp'">Register</button><br>
                <button type="button" class="Ano" onclick="window.location.href='http://localhost:3000/login?uName=-1&uPassword=-1'">Navegar como anónimo</button>
            </div>
        </form>
    </body>
</html>