<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Inicio de sesión</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <h1>Ingrese sus datos</h1>
        <form>
            <label for="uName">User Name:</label><br>
            <input type="text" id="uName" name="uName"><br>
            <label for="uPassword">User Password:</label><br>
            <input type="password" id="uPassword" name="uPassword"><br>
            <div>
                <button type="submit">Log in</button>
                <button type="button" onclick="window.location.href= 'http://localhost:3000/signUp'">Register</button><br>
                <a href="http://localhost:3000/login?uName=-1&uPassword=-1">Navegar de forma anónima</a>
            </div>
        </form>
    </body>
</html>