<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Registro de usuario</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>Regístrese</h1>
    <form>
        <label for="uName">User Name:</label><br>
        <input type="text" id="uName" name="uName"><br>
        <label for="uPassword">User Password:</label><br>
        <input type="password" id="uPassword" name="uPassword"><br>
        <label for="uEmail">User e-mail:</label><br>
        <input type="email" id="uEmail" name="uEmail"><br>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>