<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Registro exitoso</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <h1>¡Registro Exitoso!</h1>
    <div>
        <button type="submit" onclick="window.location.href= 'http://localhost:3000/login?uName=<%=user_name%>&uPassword=<%=user_password%>'">Sign Up</button>
    </div>
</form>
</body>
</html>