body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #333333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #0078d4;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

.collapsible {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.content {
    display: none;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.active {
    display: block;
}

#overview {
    width: 50%;
    margin: 0 auto; /* Centrar horizontalmente el elemento */
    padding: 10px; /* Agregar un poco de espacio interior para que se vea mejor */
    background-color: #ffffff; /* Opcional: agregar un fondo blanco al elemento */
}

#inicio {
    margin: 0 auto; /* Centrar horizontalmente el elemento */
    padding: 50px; /* Agregar un poco de espacio interior para que se vea mejor */
}
.register{
    margin-top: 20px;
    margin-left: 25px;
    width: 70px;
    height: 20px;
}
.Log{
    width: 70px;
    height: 20px;
}
.Ano{
    margin-top: 10px;
    width: 170px;
    height: 30px;
}

