<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Resultado de la Búsqueda</h1>
<h2>Películas</h2>
<% if (movies.length === 0) { %>
    <p>No se encontraron películas relacionadas a la keyword.</p>
<% } else { %>
    <ul>
        <% movies.forEach((movie) => { %>
            <li><a href="/pelicula/<%= movie.movie_id %>"><%= movie.title %></a></li>
        <% }); %>
    </ul>
<% } %>
<div id="inicio"><a href="/index">Inicio</a></div>
</body>
</html>
